Repository ahmedben0/tweetoscope: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_collector_docker_image, build_generator_docker_image, build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

build_collector_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.collector -t $Dockerhub_username/tweeto-collector:v3 .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-collector:v3

build_generator_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.generator -t $Dockerhub_username/tweeto-generator:v3 .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-generator:v3

build_estimator_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.estimator -t $Dockerhub_username/tweeto-estimator:latest .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-estimator:latest

build_predictor_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.predictor -t $Dockerhub_username/tweeto-predictor:latest .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-predictor:latest

build_learner_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.learner -t $Dockerhub_username/tweeto-learner:latest .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-learner:latest

build_dashboard_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.dashboard -t $Dockerhub_username/tweeto-dashboard:latest .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-dashboard:latest

build_monitor_docker_image:
  image: docker:latest
  stage: build_docker
  services:
  - docker:dind
  script:
  - docker build -f docker/Dockerfile.monitor -t $Dockerhub_username/tweeto-monitor:latest .
  - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
  - docker push $Dockerhub_username/tweeto-monitor:latest

update readme
  README.md
Due: none

change the organisation of the images in dockerhub
  .gitlab-ci.yml
  K8s/deployment.yml
  README.md
  deployment.py
  docker/Dockerfile.collector
  docker/Dockerfile.cpp-main
  docker/Dockerfile.dashboard
  docker/Dockerfile.estimator
  docker/Dockerfile.generator
  docker/Dockerfile.learner
  docker/Dockerfile.monitor
  docker/Dockerfile.predictor
  docker/Dockerfile.python-main
  generate_and_push_images.py
  generate_push.py
Due: build_collector_docker_image, build_generator_docker_image, build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

modified version merge !
  src/python/fixed_params.py
  src/python/learner.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

minor modifications merge !
  src/python/fixed_params.py
  src/python/learner.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

init deployment
  .gitlab-ci.yml
  docker/Dockerfile.collector
  docker/Dockerfile.dashboard
  docker/Dockerfile.estimator
  docker/Dockerfile.generator
  docker/Dockerfile.learner
  docker/Dockerfile.main
  docker/Dockerfile.monitor
  docker/Dockerfile.predictor
  docker/requirements_apt.txt
  src/python/dashboard.py
  src/python/monitor.py
Due: build_collector_docker_image, build_generator_docker_image, build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

fix docker images build
  .gitlab-ci.yml
  docker/Dockerfile.collector
  docker/Dockerfile.generator
Due: build_collector_docker_image, build_generator_docker_image

edit ci yml
  .gitlab-ci.yml
  docker/Dockerfile.python
  docker/requirements_python.txt
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

pull policy not working for docker images => new variables added
  .gitlab-ci.yml
  docker/Dockerfile.collector
  docker/Dockerfile.generator
Due: build_collector_docker_image, build_generator_docker_image

test clear cache for runner
  .gitlab-ci.yml
Due: none

fix pipeline
  docker/Dockerfile.python
Due: none

readme
  README.md
Due: none

install linux requirements from a txt file
  .gitlab-ci.yml
  README.md
  docker/Dockerfile.main
  docker/requirements.txt
Due: none

change pull policy build stage
  .gitlab-ci.yml
Due: none

edit readme
  README.md
Due: none

new stages ci
  docker/Dockerfile.main
  docker/Dockerfile.python
  docker/requirements_apt.txt
Due: build_collector_docker_image, build_generator_docker_image

add loggers to python
  src/python/estimator.py
  src/python/learner.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

add logger python - monitor & dashboard
  src/python/dashboard.py
  src/python/learner.py
  src/python/monitor.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

edit readme cpp
  src/readme.txt
Due: none

edit readme cpp
  src/readme.md
Due: none

added param n_star for samples, fixed conditions for training and alert messages
  src/python/learner.py
  src/python/predictor.py
  src/python/utils.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

change logs type to debug
  src/python/dashboard.py
  src/python/estimator.py
  src/python/learner.py
  src/python/logger.py
  src/python/monitor.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

Path conditions:
  build_collector_docker_image: any of: docker/Dockerfile.collector, src/cpp/*, docker/requirements_apt.txt
  build_generator_docker_image: any of: docker/Dockerfile.generator, src/cpp/*, docker/requirements_apt.txt
  build_estimator_docker_image: any of: docker/Dockerfile.estimator, src/python/*, docker/requirements_python.txt
  build_predictor_docker_image: any of: docker/Dockerfile.predictor, src/python/*, docker/requirements_python.txt
  build_learner_docker_image: any of: docker/Dockerfile.learner, src/python/*, docker/requirements_python.txt
  build_dashboard_docker_image: any of: docker/Dockerfile.dashboard, src/python/*, docker/requirements_python.txt
  build_monitor_docker_image: any of: docker/Dockerfile.monitor, src/python/*, docker/requirements_python.txt
