Repository ahmedben0/tweetoscope: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_collector_docker_image, build_generator_docker_image, build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

.gitlab-ci.yml:

stages:
    - build
    - build_docker
    - test


################################################


compile_cpp:
    image: $Dockerhub_username/$Main_Docker_Image:latest
    stage: build
    tags:
        - docker
    script:
        - mkdir build
        - cd build
        - cmake ..
        - make
    artifacts:
        paths:
            - build/


################################################


build_collector_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.collector -t $Dockerhub_username/tweeto-collector:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-collector:latest
    rules:
        - changes:
            - docker/Dockerfile.collector
            - src/cpp/*


build_generator_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.generator -t $Dockerhub_username/tweeto-generator:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-generator:latest
    rules:
        - changes:
            - docker/Dockerfile.generator
            - src/cpp/*


build_estimator_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.estimator -t $Dockerhub_username/tweeto-estimator:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-estimator:latest
    rules:
        - changes:
            - docker/Dockerfile.estimator
            - src/python/*


build_predictor_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.predictor -t $Dockerhub_username/tweeto-predictor:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-predictor:latest
    rules:
        - changes:
            - docker/Dockerfile.predictor
            - src/python/*


build_learner_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.learner -t $Dockerhub_username/tweeto-learner:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-learner:latest
    rules:
        - changes:
            - docker/Dockerfile.learner
            - src/python/*


build_dashboard_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.dashboard -t $Dockerhub_username/tweeto-dashboard:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-dashboard:latest
    rules:
        - changes:
            - docker/Dockerfile.dashboard
            - src/python/*


build_monitor_docker_image:
    image: docker:latest
    stage: build_docker
    services:
        - docker:dind        
    script:
        - docker build -f docker/Dockerfile.monitor -t $Dockerhub_username/tweeto-monitor:latest .
        - docker login -u "$Dockerhub_username" -p "$Dockerhub_password"
        - docker push $Dockerhub_username/tweeto-monitor:latest
    rules:
        - changes:
            - docker/Dockerfile.monitor
            - src/python/*


################################################

test:
    image: $Dockerhub_username/$Main_Docker_Image:latest
    stage: test
    tags:
        - docker
    script:
        - echo "add tests"

edit readme
  README.md
Due: none

fix pipeline
  docker/Dockerfile.python
Due: none

pull policy not working for docker images => new variables added
  .gitlab-ci.yml
  docker/Dockerfile.collector
  docker/Dockerfile.generator
Due: build_collector_docker_image, build_generator_docker_image

fix docker images build
  .gitlab-ci.yml
  docker/Dockerfile.collector
  docker/Dockerfile.generator
Due: build_collector_docker_image, build_generator_docker_image

add loggers to python
  src/python/estimator.py
  src/python/learner.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

fix python bugs
  src/python/fixed_params.py
  src/python/learner.py
  src/python/predictor.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

fix pipeline
  .gitlab-ci.yml
  K8s/deployment.yml
  docker/Dockerfile.collector
  docker/Dockerfile.dashboard
  docker/Dockerfile.estimator
  docker/Dockerfile.generator
  docker/Dockerfile.learner
  docker/Dockerfile.monitor
  docker/Dockerfile.predictor
  docker/requirements_python.txt
Due: build_collector_docker_image, build_generator_docker_image, build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

fix deployment on minikue (logs folder was missing in the python image)
  .gitlab-ci.yml
  K8s/deployment.yml
  docker/Dockerfile.dashboard
  docker/Dockerfile.estimator
  docker/Dockerfile.learner
  docker/Dockerfile.main
  docker/Dockerfile.monitor
  docker/Dockerfile.predictor
  docker/Dockerfile.python-main
  generate_and_push_images.py
Due: build_estimator_docker_image, build_predictor_docker_image, build_learner_docker_image, build_dashboard_docker_image, build_monitor_docker_image

cmake fix : copy logs directory into build
  CMakeLists.txt
Due: none

Rapport
  Report.pdf
Due: none

Update readme.txt
  data/readme.txt
Due: none

Final update Readme
  README.md
Due: none

fix config for build using cmake
  README.md
  deployment.py
Due: none

create logs folder in build
  CMakeLists.txt
Due: none

copy python folder to build/src
  CMakeLists.txt
Due: none

add configs for build
  src/configs/collector-build.ini
  src/configs/params-build.config
Due: none

Update README.md
  README.md
Due: none
